<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="listenIp" value="127.0.0.1"/>
    
    <add key="mainPort" value="13000"/>
    <add key="cpuPort" value="13001"/>
    <add key="memPort" value="13002"/>
    <add key="diskPort" value="13003"/>
    <add key="profilePort" value="13004"/>
    
    <add key="mainPath" value="main.exe"/>
    <add key="cpuPath" value="cpu_burner.exe"/>
    <add key="memPath" value="memory_burner.exe"/>
    <add key="diskPath" value="diskspd.exe"/>
    <add key="profilePath" value="profile.json"/>
  </appSettings>
</configuration>