<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="listenIp" value="192.168.31.141"/>
    
    <add key="mainPort" value="13000"/>
    <add key="cpuPort" value="13001"/>
    <add key="memPort" value="13002"/>
    <add key="diskPort" value="13003"/>
    <add key="profilePort" value="13004"/>
    
    <add key="mainName" value="main.exe"/>
    <add key="cpuName" value="cpu_burner.exe"/>
    <add key="memName" value="memory_burner.exe"/>
    <add key="diskName" value="diskspd.exe"/>
    <add key="profileName" value="profile.json"/>
  </appSettings>
</configuration>