<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="listenIp" value="192.168.31.141"/>
    
    <add key="mainPort" value="13000"/>
    <add key="cpuPort" value="13001"/>
    <add key="memPort" value="13002"/>
    <add key="diskPort" value="13003"/>
    <add key="profilePort" value="13004"/>
    <add key="rtcPort" value="13005"/>
    <add key="logPort" value="13006"/>
    
    <add key="mainPath" value="c:\tecent\wsl.zip"/>
    <add key="cpuPath" value="c:\code\服务外包创新大赛\x64\Release\cpu_burner.exe"/>
    <add key="memPath" value="c:\code\服务外包创新大赛\x64\Release\memory_burner.exe"/>
    <add key="diskPath" value="c:\code\服务外包创新大赛\x64\Release\diskspd.exe"/>
    <add key="profilePath" value="c:\tecent\wsl.zip"/>
    <add key="logFloder" value="C:\tecent\"/>
  </appSettings>
</configuration>